*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
}
html{
    font-size: 15px;
}

.my-cont{
    background-color: #333;
    padding: 1rem 0;
}
.my-cont{
    
    padding: 1rem 0;
}
.full-wrapper{
    background-color: #333;

}
.navbar-brand{
    padding: 0 !important;
}

/* navigation starts */
.navbar-default{
    background: none!important;
    border: none;
   
    padding: 0;
    padding-top: 1rem;
    
}
.nav-img img{
    width: 100%;
   
}
.open>.dropdown-menu {
    display: block;
    width: 60%;
   background-color: #2c3c53;
    
    
}
.dropdown .color{
    color: #fff!important;
}
.small-w{
    width: 100px;
    padding-left: 7px;
    border-radius: 5px;
}
.small-w-l{
    width: 100px;
    padding-left: 15px;
    border-radius: 5px;

}
.small-w-m{
    width: 100px;
}
.small-w-l:hover{
    background-color: #2c3c53;

}
.lists ul li a{
    font-size: 1.1rem;
    color: #fff!important;
}

.m-l-1{
    margin-left: 4rem;

}
.m-l-2{
    margin-left: 14rem;
}
.m-l-3{
    margin-left: 24rem;
}
.m-l-4{
    margin-left: 34rem;
}
.navbar-nav>li>.dropdown-menu {
    margin-top:15px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.navbar-default .navbar-nav>li>a {
   
    font-weight:bold;
}
.mega-dropdown {
    position: static !important;
    width:100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
   
}
.mega-dropdown-menu:before {
    content:"";
    border-bottom: 15px solid #2c3c53;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content:"";
    border-bottom: 17px solid #2c3c53;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #2c3c53;
    white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #2c3c53!important;
    background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #2c3c53;
    border-radius: 5px;
}
.glyphicon {
    position: relative;
    top: 4px;
    left: 10px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
nav .mobile img{
    width: 50%;
    margin-top: -5px;
}
.small-w:hover{
    background-color: #2c3c53;
   
}
nav .mobile img{
    width: 50%;
    margin-top: -5px;
}
.dropbtn {
    background: none;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
   }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c3c53;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content{
    padding: 1rem;

  }
  .dropdown-content a  {
    color: #fff;
  padding: 1rem;
   
  }
  .dropdown-content input{
      margin-bottom: 1rem;
  }
  .dropdown-content button{
      background-color: #a1031a;
      padding: 5px 10px;
      color: #fff;
      border-radius: 3px;
      outline: none;
      border: 1px solid #a1031a;
     
  }
  .dropdown:hover .dropdown-content {
      display: block;
    }




/* navigation ends */
.sell-rent {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    margin: 3rem 0;
    padding-bottom: 2rem;
}
.sell-rent h2{
    font-weight: 800;
}
.property-box{
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 1rem;
}
.property-box h4{
    font-weight: 800;
    font-size: 1.1rem;
}
.property-box .line-through{
    text-decoration: line-through;
}
.property-box button{
    padding: 5px;
    background-color: #a1031a;
    margin-left: 5px;
    outline: 0;
    border: 1px solid #a1031a;
    border-radius: 5px;
    color: #fff;
}
.property-box .fa-check{
    color: #a1031a;
    margin-right: 10px;
}
.personal-details{
    margin-top: 10px;
}
.personal-details h3{
    font-weight: 800;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.details{
    display: flex;
   
}
.details p{
    margin-right: 15px;
}
.details input{
    margin-left: 1rem;
}
.property-details{
    margin-top: 10px;
    margin-bottom: 1rem;
}
.property-details h3{
    font-weight: 800;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
.property-type p{
    font-weight: 900;
    font-size: 1.1rem;
}
.property-type select{
    display: block;
    width: 50%;
    padding: 0.7rem;
    border-radius: 5px;
}
.property-location h3{
    font-weight: 800;
    font-size: 1.1rem;
   margin-top: 1.5rem;
}
.city p{
    margin-top: 1rem;
    font-weight: 900;
}
.city input{
    display: block;
    width: 50%;
    padding: 0.7rem;
    border-radius: 5px;
    border-color: grey !important;

}
form button{
    width: 180px;
    height: 50px;
    background-color: #a1031a;
    color: #fff;
    border: 1px solid #a1031a;
    border-radius: 5px;
    outline: 0;
    margin-top: 2rem;
}
.property-img img{
    
  
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 5rem;
}

.footer{
    background-color: #2c3c53;
    width: 100%;
    padding: 2rem 0;
    color: #dfdfdf;
    
}
.footer h4{
    font-size: 1rem;
}